[submodule "vim/vim/bundle/command-t"]
	path = vim/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim/bundle/vim-easymotion"]
	path = vim/vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
